.appHeader {
  min-height: 40px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-image {
  min-width: 70px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.headerLinks {
  min-width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.headerLinks button {
  margin-left: 20px;
}
#facts-comp {
  display: none;
}

button {
  background-color: none;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}