.texasSeal {
  min-height: 100px;
  text-align: center;
  padding-bottom: 30px;
}
.flagDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
}
.mapDiv {
  display: flex;
  flex-direction: row;
}
#texas-seal {
  padding-left: 100px;
  padding-right: 100px;
  height: 200px;
}
#texas-flag {
  padding-left: 100px;
  padding-right: 100px;
  height: 170px;
  padding-bottom: 10px;
  max-width: 500px;
  filter: drop-shadow(0px -12px 10px rgba(0, 0, 0, 0.3));
}
#texas-map {
  padding-left: 100px;
  padding-right: 100px;
  height: 270px;
  padding-bottom: 30px;
  max-width: 500px;
}

.About {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .flagDiv {
    display: flex;
    flex-direction: column;
  }
  .flagDiv img {
    text-align: center;
  }
  .mapDiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .mapDiv img {
    text-align: center;
  }
  #texas-seal {
    padding-left: 100px;
    padding-right: 100px;
    height: 200px;
  }
  #texas-flag {
    padding-left: 100px;
    padding-right: 100px;
    height: 170px;
  }
  #texas-map {
    padding-left: 100px;
    padding-right: 100px;
    height: 270px;
  }
  .imageDiv {
    margin: auto;
    padding-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1026px) {
  .flagDiv {
    display: flex;
    flex-direction: column;
  }
  .flagDiv img {
    text-align: center;
  }
  .mapDiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .mapDiv img {
    text-align: center;
  }
  #texas-seal {
    padding-left: 100px;
    padding-right: 100px;
    height: 200px;
  }
  #texas-flag {
    padding-left: 100px;
    padding-right: 100px;
    height: 170px;
  }
  #texas-map {
    padding-left: 100px;
    padding-right: 100px;
    height: 270px;
  }
  .imageDiv {
    margin: auto;
    padding-bottom: 20px;
  }
}
